# Build outputs
/node_modules
frontend/node_modules
/public/build
/public/assets
*.exe
mudpuppy
mudpuppy-server
mudpuppy_test
*.dll
*.so
*.dylib

# Test outputs
/coverage

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# PowerShell artifacts
$null
